.spa-container {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--secondary-color);
}

.spa-content {
  /* display: flex;
  flex-direction: column; */
  gap: 1rem;
  max-width: 50%;
}

/* .spa-title {
  font-family: 'Cormorant', serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--text-color);
} */

.spa-description {
  margin: 1rem 0;
}

/* .spa-button {
  background-color: var(--accent-color);
  color: var(--light);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.spa-button:hover {
  background-color: var(--primary-color);
} */

.spa-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.spa-image.uno {
  background-image: url('../../assets/images/spa-botanico.jpg');
}

.spa-image.dos {
  background-image: url('../../assets/images/testimonio.png');
}

.divider {
  border: 1px solid var(--accent-color);
  margin: 0 6rem;
}

.testimonial-container {
  /* min-height: 70vh; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  padding: 3rem;
}

.testimonial-container .spa-title {
  grid-column: 1/3;
  text-align: center;
  align-self: center;
}

/* Sección con fondo fijo */
.spa-fixed-background {
  margin: 3rem;
  padding: 3rem;
  background-image: url('../../assets/images/home-zen-spa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
}

.spa-background-container {
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.spa-background-container .spa-title {
  grid-column: 1/3;
}

/* .spa-dias {
  font-family: 'Cormorant', serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--text-color);
} */

.contacto {
  background-image: url('../../assets/images/contacto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.contacto h4 {
  margin-top: 3rem;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .spa-container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center; /* Cambio a center para mayor legibilidad */
    align-items: center;
    gap: 1.5rem; /* Ajuste para mejorar separación visual */
    padding: 2rem; /* Usa una unidad relativa para mayor flexibilidad */
  }

  .spa-content {
    max-width: 90%; /* Se amplía sin exceder el ancho total */
  }

  .divider {
    width: 80%; /* Ajuste para una mejor proporción */
    margin: 1rem auto;
  }

  .testimonial-container {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    gap: 1.5rem;
    padding: 2rem;
  }

  .testimonial-container .spa-title {
    grid-column: auto; /* Ya no es necesario fijarlo en 1/3 */
  }

  .spa-title {
    font-size: 2rem; /* Ajusta el tamaño del título en móviles */
  }

  .spa-fixed-background {
    height: 50vh; /* Reduce el tamaño para mayor adaptabilidad */
  }

  .spa-fixed-background {
    padding: 1.5rem;
    margin: 2rem;
  }

  .spa-background-container {
    max-width: 100%;
  }

  .spa-background-container .spa-title {
    text-align: start;
  }
}
