.service {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 300px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: white;
  overflow: hidden;
  cursor: pointer; /* Efecto del cursor manito */
}

.service .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  transition: background 0.3s ease;
  z-index: 1;
}

.service h3,
.service p {
  position: relative;
  z-index: 2;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.service:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
