.categoria-card {
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  max-width: 1000px;
  background: white;
}

.categoria-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.categoria-image {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.categoria-content {
  padding: 20px;
  text-align: center;
}

.categoria-content h3 {
  color: var(--accent-color);
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.categoria-content p {
  color: var(--text-color);
  margin-bottom: 15px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.explore-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: flex-end;
}

.explore-button:hover {
  background-color: var(--accent-color);
}

/* Mejorar el Responsive del las categorias */
@media (max-width: 768px) {
  .categoria-card {
    position: relative;
    max-width: 100%;
    width: 100%;
  }
}