footer {
  background: var(--accent-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  section {
    display: flex;
    gap: 2rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0;
      margin: 0;
      font-size: smaller;

      p {
        display: flex;
        text-align: start;
        align-items: center;
        gap: 5px;
      }

      a {
        display: flex;
        text-align: start;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }

      a:-webkit-any-link {
        color: var(--secondary-color) !important;
      }

      a:hover {
        color: var(--primary-color);
      }
    }
  }
}
