.snackbar {
  position: fixed;
  bottom: 2rem;
  right: -100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 1.5rem;
  color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: right 0.8s ease-in-out;
  z-index: 2;
}

.snackbar.show {
  right: 2rem;
}

.snackbar.success {
  background-color: var(--primary-color);
}

.snackbar.error {
  background-color: var(--error-color);
}

.snackbar.info {
  background-color: var(--accent-color);
}
