.admin-usuarios {
  min-height: 70vh;
  padding: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 1rem 0;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--accent-color);
  color: var(--light);
}

.accion {
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
}

tbody tr:nth-child(odd) td {
  background-color: var(--light);
}

th:last-child,
td:last-child {
  width: 160px;
}

td:last-child {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }

  th:first-child,
  th:nth-child(2),
  td:first-child,
  td:nth-child(2) {
    min-width: 150px;
  }

  th:last-child,
  td:last-child {
    width: 100%;
  }
}
