/* #root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #d4b5a1;
  --secondary-color: #f0ede9;
  --text-color: #3e3e3e;
  --accent-color: #a67c6b;
  --light: #ffffff;
} */
