header {
  background-image: url('../../../assets/images/presentation.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--accent-color);

  h2 {
    font-size: 4rem;
    font-family: 'Cormorant', serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  h1 {
    font-size: 6rem;
    font-family: 'Cormorant', serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

  div {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite ease-in-out;

    span {
      font-size: 2em;
      animation: bounce 2s infinite;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}
